<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="KSPdfView.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <KSPdfView.Properties.Settings>
            <setting name="ScreenWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WinPosLeft" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WinPosTop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WinWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WinHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WinState" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ScreenHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WorkingFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="RowInputHeight" serializeAs="String">
                <value>250</value>
            </setting>
            <setting name="ColTextWidth" serializeAs="String">
                <value>250</value>
            </setting>
            <setting name="DevelopPanel" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RowErrorHeight" serializeAs="String">
                <value>150</value>
            </setting>
            <setting name="PSWorkingFolder" serializeAs="String">
                <value />
            </setting>
        </KSPdfView.Properties.Settings>
    </userSettings>
</configuration>